.hb-analytics {
  padding: 20px;
  margin-left: 45px;
}

.hb-analytics h2 {
  font-size: 22px;
  color: #6a6b70;
  margin-bottom: 15px;
}

.green-title {
  color: #00c853;
  font-size: 20px;
  margin-bottom: 10px;
}

.hb-analytics-section canvas {
  min-height: 300px !important;
}


.hb-analytics-box {
  display: flex;
  width: 750px;
  height: 82px;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #f0f2f4;
  margin-bottom: 20px;
}



.box-text h4 {
  font-size: 24px;
  color: #00D907;
  margin-bottom: 6px;
}



.box-value {
  font-size: 22px;
  font-weight: bold;
}

.green-text {
  color: #00c853;
  margin-left: 10px;
}

.circle-progress {
  position: relative;
  width: 70px;
  height: 70px;
}

.circle-text {
  position: absolute;
  top: 23px;
  left: 23px;
  font-size: 16px;
  color: #00c853;
  font-weight: bold;
}

.total-chats {
  font-size: 22px;
  font-weight: 700;
}