.pricing-container {
    padding: 48px 10px;
    text-align: center;
}

.pricing-container h2 {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #30404D;
}


.pricing-sub {
    font-size: 18px;
    color: #30404D;
    margin-top: 6px;
    font-weight: 500;
}

.pricing-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 18px;
    flex-wrap: wrap;
}

.pricing-card {
    background: #ffffff;
    padding: 36px;
    border-radius: 24px;
    width: 500px;
    height: 620px;
    box-shadow: 0 10px 28px rgba(33,48,64,0.04);
    text-align: left;
}

.pricing-card h4 {
    margin-top: 0;
    font-size: 36px;
    color: #30404D;
    font-weight: bold;
    margin-bottom: 20px;
}

.pricing-card h5 {
    font-size: 20px;
    color: #30404D;
    font-weight: 500;
}

.pricing-card h6 {
    font-size: 18px;
    color: #30404D;
    font-weight: 500;
    margin-bottom: 20px;
}

.price {
    font-size: 54px;
    font-weight: bold;
    color: #3A7ABD;
    margin: 12px 0 6px;
}

.price span {
    font-size: 20px;
    font-weight: 500;
    color: #98A8B3;
}

.pricing-card ul {
    padding-left: 20px;
   color: #30404D;
}

.pricing-card li {
    padding-left: 10px;
    margin-top: 10px;
   font-size: 18px;
   color: #30404D;
}

.btn-first {
    margin-top: 80px;
    width: 516px;
    height: 72px;
    border-radius: 64px;
    color: #244779;
    background-color: #ffffff;
    border: 1px solid #3A7ABD;
}

.btn-second {
    margin-top: 20px;
    width: 516px;
    height: 72px;
    border-radius: 64px;
    color: #244779;
    background-color: #ffffff;
    border: 1px solid #3A7ABD;
}

@media (max-width: 720px) {
  .pricing-container {
    display: none;
  }
}

@media (max-width: 450px) {
  .pricing-container {
    display: none;
  }
}
